<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>New Ninja</title>
</head>
<body>
    <div class="container col-md-8">
        <h3>New Ninja</h3>
        <form action="/process/ninja" method="post">
            <div class="form-group row">
                <label for="dojo_id" class="col-sm-2 col-form-label">Dojo: </label>
                <select name="dojo_id" class="col-sm-6">
                {% for dojo in dojos %}
                <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group row">
                <label for="fname" class="col-sm-2 col-form-label">First Name: </label>
                <input type="text" name="fname" class="col-sm-6">
            </div>
            <div class="form-group row">
                <label for="lname" class="col-sm-2 col-form-label">Last Name: </label>
                <input type="text" name="lname" class="col-sm-6">
            </div>
            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Age: </label>
                <input type="text" name="age" class="col-sm-6">
            </div>
            <input type="submit" value="Save Ninja" class="btn btn-primary">
        </form>
        <br>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>